.hero {
  height: 600px;
  background-image: url(./images/hero-bg2.jpg);
  background-size: cover;
  background-position: center;

  &__container {
    @include flexbox;
    flex-direction: column;
    gap: 10px;
    height: 100%;
  }

  &__title {
    font-size: 118px;
    color: $text-color;
    text-align: center;
  }

  &__describtion {
    margin-top: 20px;
    font-size: 32px;
    color: $text-color;
  }
}
