.header {
  height: 110px;
  background-color: $bg-color;

  &__container {
    height: 100%;
    @include flexbox;
    justify-content: space-around;
    gap: 30px;
  }

  &__logo {
    width: auto;
    height: 90px;
    fill: $highlight-color;
    transition: fill $st-animation;
    @include flexbox;

    &:hover {
      fill: $hover-color-btn;
    }
  }

  &__nav {
    @include flexbox;
    gap: 30px;
  }

  &__link {
    color: $text-color;
    font-size: 28px;
    transition: color $st-animation;
    @include flexbox;
    flex-direction: column;

    &:after {
      margin-top: 2px;
      display: block;
      content: "";
      width: 110%;
      height: 4px;
      border-radius: 2px;
      background-color: $highlight-color;
      opacity: 0;
      transition: opacity $st-animation;
    }

    &:hover {
      color: $hover-color;
    }

    &__current:after {
    opacity: 1;
    }

    &:first-child:hover:after {
      opacity: 1;
    }
  
    &:nth-child(2):hover:after {
      opacity: 1;
    }
  
    &:nth-child(3):hover:after {
      opacity: 1;
    }
  
    &:last-child:hover:after {
      opacity: 1;
    }
  }

  &__button {
    background-color: $highlight-color;
    color: $text-color;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    @include flexbox;
    gap: 13px; 
    transition: background-color, color, box-shadow, $st-animation;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: $hover-color-btn;
    color: $hover-color;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    }
  }

  &__icon {
    fill: $text-color;
    width: 23px;
    height: 23px;
    transition: fill $st-animation;

    &:hover {
      fill: $hover-color;
    }
  }

  &__button:hover &__icon {
    fill: $hover-color;
  }
}
